@model List<ResultArventoDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width:100%;overflow-x:auto;">
    <h1 style="text-align:center;">Arvento Listesi</h1>

    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr style="text-align:center">
                <th>Cihaz No</th>
                <th>Cihaz Grup</th>
                <th>Imei</th>
                <th>Imsi</th>
                <th>Yazılım Versiyonu</th>
                <th>Donanım Versiyonu</th>
                <th>Aktif Mi?</th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>@item.ArventoCihazNo</td>
                    <td>@item.ArventoCihazGrup</td>
                    <td>@item.Imei</td>
                    <td>@item.Imsi</td>
                    <td>@item.YazVersiyon</td>
                    <td>@item.DonVersiyon</td>
                    @if (item.IsActive == true)
                    {
                        <td>
                            Aktif
                        </td>
                    }
                    else
                    {
                        <td>
                            Pasif
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>